header {
    text-align: center;
    
    background: #E6E6E6;
}

main {
    width: 1041px;
    height: auto;
    margin: 117px auto 163px auto;
    margin-top: 117px;
    margin-bottom: 163px;  
}

img {     
    width: 100px;
    height: 147px;
}

h1 {
text-align: center;
font-family: Times New Roman;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 84.69%;
letter-spacing: 0.4em;
padding-top: 10px;
padding-bottom: 10px;
color: #005677;
background-color: #C4C4C4;
}

h2 {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 84.69%;
    padding: 6px 7px 7px 9px;
    letter-spacing: 0.4em;
    color: #005677;
    background-color:#C4C4C4;
}

h3 {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 84.69%;
    color: #FFFFFF;
    display: inline;
    
}

ul li span {
    font-family: Times New Roman;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    line-height: 84.69%;
    
    color: #000000;
}

dt {
    font-family: Times New Roman;
    font-style: normal;
    font-size: 15px;
    line-height: 84.69%;
    margin-left: 3%;
    margin-top: 2%;
    color: #000000;
}

dt span {
    font-weight: bold;
    
}

dd {
    margin-left: 10%;

}

footer {
    
    text-align: center;
    height: 37px;
    padding-top: 15px;
    
    background: #005677;
}

img.redes{
    width: 20px;
    height: 20px;
    display: inline;
    margin-left: 9px;
    margin-right: 9px;
    

}