
header{
    text-align: center;
}
section.banner {
    background-image: url(../IMG/lemon-pie\ 1.png);
    background-size: cover;
    background-attachment: fixed;
    height: 340px;
    color: #fff;
}
section.banner ~ section{
    max-width: 80%;
    margin: 0 auto;
}
h1, h2{
    text-transform: uppercase;
}